/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
	padding: 0;
	background-color: #e94870;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

/*/////////////NAVIGATIE///////*/
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 60px 0;
	height: 150px;
	width: 100%;
}

.nav img {
	width: 100%;
	height: auto;
}

/*////////////TESTIMONIES/////////////*/

.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 0 5%;
}
/*logo cinemaximiliaan*/
.story-logo img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
}

.story-content {
	display: flex;
	flex-direction: row;
	height: 900px;
	justify-content: flex-start;
	background-color: #5bbca9;
	border-radius: 10px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 70%;
	margin-bottom: 40px;
}

.story-img {
	flex: 1;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.story-img img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.story-text {
	flex: 1;

	flex-direction: column;
	padding: 40px;
	background-color: #5bbca9;
	color: white;
	width: 50%;
	border-radius: 20px;
	font-size: 2rem;
	line-height: 1.8;
	height: 100%;
	box-sizing: border-box;
}

.story-content.reverse {
	flex-direction: row-reverse;
}

.story-text h1 {
	margin: 0;
	font-size: 3.5rem;
	text-align: center;
}

.story-text hr {
	border: none;

	width: 50%;
	border-top: 2px solid white;
	margin: 20px auto;
}

.story-text p {
	text-align: center;
	margin: 20px 0;
	line-height: 2.4;
	font-size: 2rem;
}

/*////////JOUW VERHAAL FORM//////////////*/

.content-form {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 1200px;
	margin: 40px 0;
	overflow: hidden;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.form-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-form form {
	flex: 1;
	justify-content: center;
	box-sizing: border-box;
	background: #5bbca9;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.content-form h1 {
	font-size: 6rem;
	color: white;
	text-align: center;
	margin-top: 0;
}

.label {
	color: white;
}

.input-box {
	border-radius: 15px;
	color: white;
	padding: 5px 2px;
}

.submit {
	background: #e94870;
	color: white;
	border-radius: 80px;
	padding: 40px 120px;
	font-family: "libre-franklin", sans-serif;
	font-weight: bold;
	font-size: 50px;
	margin-top: 10%;
	margin-left: 36%;
}

/*///////////RESPONSIVE DEEL VAN TESTIMONIES////*/

@media (max-width: 768px) {
	.story-content {
		flex-direction: column;
	}

	.story-text {
		padding: 20px;
		font-size: 1.2rem;
	}
	.story-img img {
		max-height: 300px;
		flex: none;
	}
}
